{% load static %}
<div class="modal" tabindex="-1" role="dialog" id="wrongAnswerModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_data.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center flex-column">
                    <p>{{ modal_data.sign }}</p>
                    <img src="{% static 'lovelyhalf/img/' %}{{ modal_data.img }}" width="400px" alt="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ modal_data.button }}</button>
            </div>
        </div>
    </div>
</div>